<TabView androidTabsPosition="bottom">

    <page-router-outlet
        *tabItem="{title: 'Events', iconSource: getIconSource('home')}"
        name="homeTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Bluetooth', iconSource: getIconSource('browse')}"
        name="browseTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Scan', iconSource: getIconSource('search')}"
        name="searchTab">
    </page-router-outlet>

</TabView>