<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Events"></Label>
    <ActionItem android.systemIcon="ic_menu_refresh" android.position="actionBar" (tap)="onRefresh($event)"></ActionItem>
</ActionBar>

<GridLayout class="page page-content">
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['../item', item.EventID]" [text]="item.EventDesc" class="list-group-item"></Label>
        </ng-template>
    </ListView>
</GridLayout>